<form [formGroup]="filterForm">
  <label for="nombre">Filtrar por nombre:</label>
  <input id="nombre" formControlName="nombre" type="text">
</form>

<div *ngIf="posts$ | async as posts">
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.id }}</td>
      <td>{{ post.nombre }}</td>
      <td>{{ post.descripcion }}</td>
      <td>
        <a (click)="removePost(post.id)">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
